apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: devops-portfolio
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/dawiay/DevOps-Portfolio-latest.git
    targetRevision: HEAD
    path: helm/devops-portfolio
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
